.contenedor-inputs {
  height: 200px;
  width: 80%;
  margin-top: 50px;
  margin-left: 15%;
}

.inputes {
  background-color: rgb(48, 41, 64);
  border: none;
  color: white;
  height: 30px;
  width: 40%;
  padding: 15px;
}

.mensaje {
  background-color: rgb(48, 41, 64);
  border: none;
  color: white;
  height: 60px;
  width: 100%;
  padding: 15px;
}

.inputes::placeholder {
}

.inputes::-moz-placeholder {
  font-size: 15px;
  text-align: left;
}

.mensaje::-moz-placeholder {
  text-align: initial;
}

.envio {
  display: flex;
  justify-content: right;
  background-color: rgb(85, 77, 114);
  border-color: rgb(85, 77, 114);
  color: white;
  padding: 3px;
  margin-left: 70%;
}

@media (max-width: 640px) {
  .contenedor-inputs {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25%;
  }
  .inputes {
    width: 70%;
  }
  .envio {
    font-size: 12px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  .contenedor-inputs {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 45%;
  }
  .inputes {
    width: 70%;
  }
}
